{% extends 'base/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
&nbsp;
&nbsp;

<style type="text/css">
    #div_id_tags > div {
        max-height: 10px;
        overflow-y: scroll;
        border: 1px solid #888;
        padding: 5px;
        border-radius: 5px;
    }

</style>
<div class="container"  style="color: #fff;">
        <div class="section-title" style="text-align: center; margin-top: 60px; color: #fff;" >
            <!-- Main heading -->
            <p style="font-size: 72px; margin-top: -30px; font-family: 'Luckiest Guy', cursive; color: #fff; "> Post Form </p>
            <!-- Main heading -->
        </div>
        <form action= "" method="POST" enctype="multipart/form-data" style="color: #fff;">
        {% csrf_token%}
        {{form.media}}
        {{form|crispy}}
        <input class="btn btn-success" type="submit" value="Submit Post" >
        </form>
</div>
{% endblock %}